* {
  box-sizing: border-box;
  line-height: 1.5rem;
  color: rgb(60, 60, 60);
}


html {
font-size: 16px;
 font-family: 'Roboto', helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: rgb(255, 255, 251);
  border: 2px solid rgb(255, 255, 251);
  position: fixed;
  z-index: 1;


}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
}


.logo img {
  height: 100%;
  width: auto;
  display: block;
}

.logo span{
  font-weight: lighter;
  color: darkgray;
}

.logo h1 {
  color: black;
  font-weight: bolde;
}

#mobile-nav {
  display: none;
}

@media only screen and (max-width: 480px){
 header .logo, #desktop {
    display: none;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }

  nav {
    width: 100%;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

 header li {
   border-left: none;
 }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


h1  {
  display: inline-block;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(190, 190, 190);
}



ul {
 display: flex;
 align-items: center;
 height: 100%;
 width: auto;
 }

li {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  border-left: 1rem solid rgb(150, 230, 230);

}




a {
  text-decoration: none;
  color: black;
}

#desktop{
  margin-right: 1.5rem;
}


/* main-container*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border: 2px solid #d3d3d3;


}

/*first banner welcomer*/
.flex-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #d3d3d3;
}


#story-section {
  display: flex;
  justify-content: center;
  width: 25%;
}


#story-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 100%;
}


#story-section p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}


#story-section a {
  width: 100%;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(200, 200, 200);
  background-color: rgb(60, 60, 60);
  text-align: center;
}


#story-section a:hover {
  background-color: rgb(80, 80, 80);
  left: -50%;
  transition: all 400ms ease 100;
}

@media only screen and (max-width: 480px) {
  .flex-container {
    flex-direction: column;
    align-items: center;

  }

  .flex-container .banner {
    width: 100%;
    padding: 0;
  }


  #story-section {
    width: 100%;
    padding: 1rem 2rem;
  }

  #story-section h2 {
    font-size: 2.5rem;
  }

  #story-section a {
    background-color: rgb(150, 150, 150);
    color: white;
  }
}


/*orientaion section*/

#mobile-image{
  display: none;
}

.academy {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);

}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin: 2rem 1.5rem;
  overflow: hidden;
}


.banner img {
  display: block;
  width: 100%;
  height: auto;
}

.campus {
  border-top: 2px solid rgb(235, 235, 235);
  border-bottom: 2px solid rgb(235, 235, 235);
}


.academy .text-banner h3 {
  margin-top: 2rem;
  margin-bottom: 1.50rem;
}

.text-banner p {
  font-size: 1.30rem;
  font-weight: 300;
}

.writer{
  font-size: 0.85rem;
  margin-top: 1.5rem;
}


.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0 2rem 1rem;
  width: 40%;
  height: auto;
}




.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
}



.information .info:hover {
  background-color: rgb(205, 205, 205);
  transition: all 400ms linear 150ms;
  left: -100%;
}






.orientaion .info {
  padding-top: 1rem;
}



.image.desktop img {
  width: 35%;
  height: auto;
  display: block;
  padding: 1rem 0 1rem 1rem;
}


.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: auto;
  padding-left: 1rem;
}



.text-content a {
  color: blue;
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  .academy .banner {
    display: none;
  }

  .academy {
    padding-bottom: 2rem;
  }

  .academy .image-desktop{
    display: none;
  }

  #mobile-image {
    display: block;
    padding: 1rem 1rem;
  }

  .academy .info {
    flex-direction: column;
  }

  .academy .information {
     width: 100%;
     padding: 0;
  }

  .academy .text-content {
    width: 100%;
    padding-left: 2rem;
  }

  .campus {
    border-top: 0;
    border-bottom: 0;
  }
}




/* COURSES Section*/

.learn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: silver;
  padding: 0 4.5rem 0 3.5rem;
}



.flex-courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.flex-courses a:hover {
  color: blue;
  left: -100%;
  transition: all 400ms linear 100ms;
}

.course .image-description {
  padding: 1rem 1rem 2rem 1rem;

}

.image-box {
  width: 100%;
  height: auto;
}

.image-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: black;
}

.mobile-course {
  display: none;
}



.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: white;
  margin-left: 2rem;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 480px){
  .learn-section{
    padding: 0 1rem 2rem 1rem;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(235, 235, 235);
    width: 100%;
  }

  .learn-section h2 {
    margin: auto;
    padding: 2rem 0 1rem 0;
  }

  .course {
    display: none;
  }

  .mobile-course {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .mobile-course a h3 {
    padding: 1.5rem 1rem;
    margin: 0 0 0.5rem 0;
    background-color: rgb(235, 235, 235);
  }

  .mobile-course a h3:hover {
    color: blue;
    transition: color 400ms linear;
  }


}






/* xhibite section */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);

}

.container h2 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.xhibite {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.fisma {
  border-top: 2px solid rgb(235, 235, 235);
  border-bottom: 2px solid rgb(235, 235, 235);
}

.newyork {
  border-bottom: 2px solid rgb(235, 235, 235);

}

video {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgb(200, 200, 200);
}

#video-description {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#video-mobile {
  display: none;
}

@media only screen and (max-width: 480px){
  #video-mobile {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-top: 2px solid #d3d3d3;
    border-bottom: 3px solid #d3d3d3;
  }

  .xhibite, #hibite-desktop {
    display: none;
  }

  .container {
    padding-bottom: 1.5rem;
    border-top: 1px solid rgb(235, 235, 235);
  }

  .xhibite h2{
    margin: 0;
    padding: 2rem 0 1rem 0;
  }
}




/* * Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 1.5rem;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgb(235, 235, 235);
}

footer a {
  padding-left: 1rem;
}

@media only screen and (max-width: 480px){
  footer {
    border-top: none;
    padding: 1rem 1rem;
  }


footer nav {
  display: none;
}
}
