html {
font-size: 16px;
}

header{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;

}

.logo {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}


.logo img {
  height: 2.5rem;
}

.logo span{
  font-weight: lighter;
  color: darkgray;
}

#mobile-nav {
  display: none;
}



nav {
  border: 1px solid black;
  display: inline-block;
}

ul {
 display: inline-block;
 }

li {
  display: inline-block;
  border: 1px solid black;
  margin-left:1rem;
  height: 100%;
  width: auto;
  color: black;



}

a {
  text-decoration: none;
  color: black;
}

#desktop{
  border: 1px solid black;
  margin-right: 1.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;

}

.flex-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: lightgray;
}

.flex-items {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 2rem 1.5rem;
}

.image-content img {
  width: 100%;
  height: auto;
  display: block;
}


.story-section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.story {
  border: 1px  solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 80%;
}

.story h1 {
  font-size: 3.5rem;
  margin: 1rem;
}

.story p {
  font-size: 2rem;
  margin: 0;
  margin-left: 1.50rem;
}

.story a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  margin-top: .50rem;
  margin-bottom: 0.50rem;
  text-align: center;
  height: 3rem;
  font-size: 1.50rem;
  background-color: darkgray;
  color: white;
}

.story a:hover {
  background-color: white;
  color: darkgray;
}

/*orientaion section*/

#mobile-image{
  display: none;
}

.academy {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  border: 1px solid black;
  margin: 2rem 1.5rem;
}

.banner img {
  display: block;
  width: 100%;
  height: auto;
}

.text-banner h2 {
  font-size: 3rem;
  margin: 2rem 0 1.50rem 0;
}

.text-banner p {
  font-size: 1.30rem;
  font-weight: 300;
}

.text-banner span{
  border :1px solid black;
  position: relative;
  top:3rem;
  font-size: 1.10rem;
}

.information {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 40%;
  height: auto;
}

.info1 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
}

.info2 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
}

.info3 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
}

.information :hover {
  background-color: lightgray;

}

.image.desktop img {
  width: 35%;
  height: auto;
  display: block;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  height: auto;
  border: 1px solid black;
  padding: 1rem;

}




.text-content h3{
  font-size: 1.50rem;
  font-weight: 500;
  border: 1px solid black;
}

.text-content p{
  font-size: 1rem;
  font-weight: lighter;;
  border: 1px solid black;
  position: relative;
  bottom: 1.80rem;
  line-height: 1;
}

.text-content a {
  color: blue;
  font-size: 1rem;

}

/* COURSES Section*/

.learn-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  border: 1px solid black;
  background-color: silver;
}

.startlearn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 6rem;;

}

.flex-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  width: 100%;
  height: auto;
}

.flex-courses a:hover {
  color: blue;
  transition: color 400ms ease 200ms;
}

figure h2 a {
  left: 100%;
  transition: left 400ms ease 200ms;
}

a {
  color: black;
}



.course1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
  position: relative;
  left: 4rem;
}

.course2 {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
}

.course3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
  position: relative;
  right: 4rem;
}

.course4{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
  position: relative;
  left: 4rem;
  bottom: 1.50rem;
}


.course5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
  position: relative;
  bottom: 1.50rem;
}

.course6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid white;
  width: 350px;
  height: auto;
  background-color: white;
  position: relative;
  right: 4rem;
  bottom: 1.50rem;
}

figure img{
  width: 350px;
  height: auto;
}

figure span {
  border: 1px solid black;
  width: 280px;
  height: auto;
  padding: .30rem;
}

/* xhibite section */

.xhibite {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.hibitebanner {
  width: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 1.50rem 1.50rem 1.50rem;
}


.hibitebanner video {
  width: 100%;
}

.headmsg {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  height: 6rem;
}

.infohibite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 40%;
  height: auto;
  border: 1px solid black;

}
